.background_0{
    background-image: url(/media/images/background0.jpg);
}

.background_1{
    background-image: url(/media/images/background1.jpg);
}

.background_2{
    background-image: url(/media/images/background2.jpg);
}

.background_3{
    background-image: url(/media/images/background3.jpg);
}

.background_4{
    background-image: url(/media/images/background4.jpg);
}

.background_5{
    background-image: url(/media/images/background5.jpg);
}